/* #main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
} */
#main.dashboard-main {
  background-color: #2a3447;
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  min-height: 100vh;
  color: white; /* optional, for better contrast */
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
